$bg-color-main: #388E3C;
$bg-invite: #2E7D32;
$bg-body: #80DEEA;
$bg-menu-button: 6D4C41;
$bg-inv-button: #4CAF50;
$border-main: darken(#F57F17, 23%);
$font-main: 2.4rem/2 Helvetica, 'sans-serif';
$text-color-main: #fefefe;
$input-text-color: #212121;
$error-color: #DD2C00;
$menu-item-focus: #FFFF00;
$menu-item-color: #ffffff;
$imgPath: '../img';
