@import "../../../../scss/_constants";

.game-menu-item {
  height: 4rem;
  line-height: 4rem;
  padding: 0.5rem 1rem;
  color: $game-menu-border;
  background: transparent;
  @extend %game-menu-shadow;
  border: solid 1px $game-menu-border;
  border-radius: 5rem;
  font: $font-main;
  outline: none;
  &:focus,
  &:hover {
    @extend %inset-shadow;
    color: $game-menu-border;
    background: transparent;
    cursor: pointer;
  }
  &.new-game {
    margin: 0 9rem;
    order: -1;
    @media (min-width: $firstMediaBreak) {
      order: 0;
      margin: 0;
    }
  }
}
