@import "../../../scss/constants";

.game-section {
  position: relative;
  background: radial-gradient(ellipse farthest-side, $text-color-main, $border-main);
  width: 98%;
  min-width: 40rem;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 27px;
  padding: 2rem;
  @extend %inset-shadow;
  @media (min-width: $smallScreen) {
    width: 90%
  }
  @media (min-width: $mediumScreen) {
    max-width: $max_width;
    width: 80%;
  }
}
.game-desk-wrapper{
  position: relative;
  border-radius: 2rem;
  box-sizing: border-box;
  background: radial-gradient(farthest-side, $bg-color-main, darken($bg-color-main, 5%));
  min-height: calc(70vh );
  .game-desk {
    position: relative;
    border-radius: 18px;
    padding: 2rem 0;
    @extend %inset-shadow;
    transition: background-size .5s;
    min-width: 35rem;
    min-height: calc(70vh - 4rem);
    width: 100%;
    margin: 0 auto;
  }
  .small-panda,
  .big-panda{
    left: 0;
    position: absolute;
    transition: all 0.5s;
  }
  .small-panda {
    width: 30%;
    @media (min-width: 600px) {
      width: 20%;
    }
  }
  .big-panda {
    width: 50%;
    @media (min-width: 600px) {
      height: 60%;
    }
    @media (min-width: 990px) {
      height: 80%;
    }
  }
}
.six-to-four {
  @include grid(4);
  & .card-container {
    @extend %card-container;
  }
  @media screen and (min-width: $firstMediaBreak) {
    grid-template-columns: repeat(6, 1fr);
  }
  @media screen and (min-width: $smallScreen)  and (orientation: landscape) {
    grid-template-columns: repeat(6, 1fr);
    .card-container {
      @include width-and-height(10rem);
    }
  }
}

.nine-to-four {
  @include grid(4);
  & .card-container {
    @extend %card-container;
    margin: .5rem;
  }
  @media screen and (min-width: $firstMediaBreak) {
    grid-template-columns: repeat(6, 1fr);
  }
  @media screen and (min-width: $smallScreen)  and (orientation: landscape) {
    grid-template-columns: repeat(9, 1fr);
    .card-container {
      @include width-and-height(9rem);
    }
  }
}

.four-to-three {
  @include grid(3);
  & .card-container{
    @extend %card-container;
    @include width-and-height(10rem);
  }
  @media screen and (min-width: $mobileScreen)  and (orientation: landscape) {
    grid-template-columns: repeat(4, 1fr);
    .card-container {
      @include width-and-height(12rem);
    }
  }
}

.three-to-two {
  @include grid(2);
  & .card-container{
    @extend %card-container;
    @include width-and-height(14rem)
  }
  @media screen and (min-width: $mobileScreen)  and (orientation: landscape) {
    grid-template-columns: repeat(3, 1fr);
    .card-container {
      @include width-and-height(16rem);
    }
  }
}