@import "../scss/constants";

.app-wrapper {
  @include flex(space-between, center, column);
  background:  radial-gradient($bg-body, lighten($bg-body, 20%));
  min-height: 100vh;
  min-width: 350px;
}
.footer {
  min-height: 5rem;
  @media (max-width: 760px) {
    min-height: 1rem;
  }
}

