@import "../scss/constants";

.app-wrapper {
  @include flex(space-between, center, column);
  background:  radial-gradient($bg-body, lighten($bg-body, 20%));
  min-height: 100vh;
  min-width: 350px;
}
.footer {
  min-height: 5rem;
  @media (max-width: 760px) {
    min-height: 1rem;
  }
}
.rr {
  width: 100vh;
  &-enter {
    opacity: 0.01;
    transform: translateX(-100%);
    &.rr-enter-active {
      opacity: 1;
      transform: translateX(0%);
      transition: all 3s ease-in;
    }
  }
  &-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 3s ease-in;
  }
  &-exit {
    opacity: 1;
    transform: translateX(0%);
  }
  &-exit-active {
    opacity: 0.01;
    transform: translateX(100%);
    transition: all 3s ease-out;
  }
}


