@import "../../../scss/constants";
.log-page {
  @include flex(space-around, center, column);
  position: relative;
  background: darken($bg-color-main, 5%);
  width: 80%;
  height: 80%;
  padding: 2rem 1.5rem;
  color: $text-color-main;
  font: $font-main;
  border: solid .1rem darken($border-main, 5%);
  border-radius: 18px;
  @media (min-width: 768px) {
    max-width: 75%;
    padding: 2.5rem 5rem;
  }
  @media (min-width: 900px) {
    max-width: 70%;
    padding: 3rem 6rem;
  }
  @media (min-width: 1200px) {
    max-width: 80rem;
    padding: 3.5rem 7rem;
  }
  h2 {
    margin: 0 auto;
    font-size: 3rem;
    text-align: center;
    width: 80%;
    &.error {
      color: $menu-main;
    }
    @media (min-width: 768px) {
      font-size: 3.5rem;
      line-height: 7rem;
    }
  }
}
