@import "../../../Scss/constants";

.menu-wrapper {
  position: relative;
  width: 70%;
  margin: 0 auto;
  display: none;
  &.burger {
    display: none;
  }
  &.dropped,
  &.burger.dropped {
    position: absolute;
    width: 15rem;
    @include flex(space-around, center, column);
    border: solid 1px $game-menu-border;
    background: lighten($bg-body, 15%);
    @extend %inset-shadow;
    border-radius: 2rem;
    padding: 1rem 0;
    height: 25rem;
    margin: 0;
    top: 75px;
    right: 1%;
    z-index: 10;
    animation: animateTop .4s;
  }
  @media (min-width: $firstMediaBreak) {
    @include flex(space-around, center);
  }
}

@keyframes animateTop {
  from {top: -500px; opacity: 0}
  to {top: 75px; opacity: 1}
}
