html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, main {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ''; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

.main, .desk-background .main-container, .menu-item, .drop-menu-list {
  box-shadow: inset 0 0 1.5rem rgba(10, 10, 10, 0.7); }

.form-fieldset input {
  font: 2rem/2 Georgia, 'serif';
  color: #212121;
  height: 5rem; }

.menu-item:hover h2, .menu-item.dropped h2, .menu-item a:focus h2 {
  color: #FFFF00; }
.menu-item:hover .drop-menu-list, .menu-item.dropped .drop-menu-list, .menu-item a:focus .drop-menu-list {
  height: 36rem;
  transition: height .6s; }
  .menu-item:hover .drop-menu-list .drop-item, .menu-item.dropped .drop-menu-list .drop-item, .menu-item a:focus .drop-menu-list .drop-item {
    height: 8rem;
    opacity: 1;
    transition: height .6s, opacity .6s; }
  .menu-item:hover .drop-menu-list .drop-item.skirt-item, .menu-item.dropped .drop-menu-list .drop-item.skirt-item, .menu-item a:focus .drop-menu-list .drop-item.skirt-item {
    height: 9rem; }

.drop-item:hover, .drop-item:focus {
  color: #FFFF00;
  cursor: pointer; }

.drop-item.skirt-item.active-menu-item, .drop-item.skirt-item:hover, .drop-item.skirt-item:focus {
  height: 11rem;
  width: 6.2rem; }

.nine-to-four .card-container .card-flipper .card-face, .eight-to-three .card-container .card-flipper .card-face, .four-to-three .card-container .card-flipper .card-face, .three-to-two .card-container .card-flipper .card-face, .nine-to-four .card-container .card-flipper .card-skirt, .eight-to-three .card-container .card-flipper .card-skirt, .four-to-three .card-container .card-flipper .card-skirt, .three-to-two .card-container .card-flipper .card-skirt {
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

@keyframes hover {
  from {
    width: 95%;
    height: 95%; }
  to {
    width: 100%;
    height: 100%; } }
html {
  font-size: 10px; }
  @media (max-width: 1200px) {
    html {
      font-size: 9px;
      line-height: 2; } }
  @media (max-width: 600px) {
    html {
      font-size: 8px;
      line-height: 2; } }

body {
  background: radial-gradient(#80DEEA, #d8f5f8);
  min-width: 350px; }

.main {
  position: relative;
  background: radial-gradient(ellipse farthest-side, #ffffff, #904706);
  max-width: 98%;
  min-width: 40rem;
  margin: 0 auto;
  min-height: calc(100vh - 15rem);
  box-sizing: border-box;
  border-radius: 27px;
  padding: 2rem; }
  @media (min-width: 1300px) {
    .main {
      max-width: 90%; } }

.desk-background {
  position: relative;
  border-radius: 2rem;
  box-sizing: border-box;
  background: radial-gradient(farthest-side, #388E3C, #317c34);
  min-height: calc(100vh - 19rem); }
  @media (max-width: 760px) {
    .desk-background {
      min-height: calc(100vh - 15rem); } }
  .desk-background .main-container {
    min-height: calc(100vh - 19rem);
    background: url("../images/publicdomainq-panda.svg") no-repeat;
    background-size: 25rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 18px;
    transition: background-size .5s; }
    @media (max-width: 760px) {
      .desk-background .main-container {
        min-height: calc(100vh - 15rem); } }
  .desk-background .main-container.big-panda {
    background-size: 55%;
    transition: background-size .8s; }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 10rem; }

.footer {
  min-height: 5rem; }
  @media (max-width: 760px) {
    .footer {
      min-height: 1rem; } }

.main, .desk-background .main-container, .menu-item, .drop-menu-list {
  box-shadow: inset 0 0 1.5rem rgba(10, 10, 10, 0.7); }

.form-fieldset input {
  font: 2rem/2 Georgia, 'serif';
  color: #212121;
  height: 5rem; }

.menu-item:hover h2, .menu-item.dropped h2, .menu-item a:focus h2 {
  color: #FFFF00; }
.menu-item:hover .drop-menu-list, .menu-item.dropped .drop-menu-list, .menu-item a:focus .drop-menu-list {
  height: 36rem;
  transition: height .6s; }
  .menu-item:hover .drop-menu-list .drop-item, .menu-item.dropped .drop-menu-list .drop-item, .menu-item a:focus .drop-menu-list .drop-item {
    height: 8rem;
    opacity: 1;
    transition: height .6s, opacity .6s; }
  .menu-item:hover .drop-menu-list .drop-item.skirt-item, .menu-item.dropped .drop-menu-list .drop-item.skirt-item, .menu-item a:focus .drop-menu-list .drop-item.skirt-item {
    height: 9rem; }

.drop-item:hover, .drop-item:focus {
  color: #FFFF00;
  cursor: pointer; }

.drop-item.skirt-item.active-menu-item, .drop-item.skirt-item:hover, .drop-item.skirt-item:focus {
  height: 11rem;
  width: 6.2rem; }

.nine-to-four .card-container .card-flipper .card-face, .eight-to-three .card-container .card-flipper .card-face, .four-to-three .card-container .card-flipper .card-face, .three-to-two .card-container .card-flipper .card-face, .nine-to-four .card-container .card-flipper .card-skirt, .eight-to-three .card-container .card-flipper .card-skirt, .four-to-three .card-container .card-flipper .card-skirt, .three-to-two .card-container .card-flipper .card-skirt {
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

@keyframes hover {
  from {
    width: 95%;
    height: 95%; }
  to {
    width: 100%;
    height: 100%; } }
.head-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 85%;
  opacity: 0;
  transition: opacity .6s;
  z-index: -10; }

.menu-list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  @media (max-width: 900px) {
    .menu-list {
      flex-direction: column; } }

.menu-item {
  position: relative;
  text-align: center;
  height: 4rem;
  width: 12rem;
  background: #904706;
  border: none;
  border-radius: .5rem;
  margin: .5rem; }
  @media (min-width: 900px) {
    .menu-item {
      width: 13rem; } }
  @media (min-width: 1200px) {
    .menu-item {
      width: 15rem; } }
  .menu-item h2 {
    font: 2rem/2 Helvetica, 'sans-serif';
    color: #ffffff; }
  .menu-item.skirt-menu .drop-menu-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; }

.drop-item.skirt-item:first-of-type {
  background: url("../images/skirts/x-mas-nussknacker.png") no-repeat center/100%;
  width: 6rem; }

.drop-item.skirt-item:nth-of-type(2) {
  background: url("../images/skirts/x-mas-lebkuchen.png") no-repeat center/100%;
  width: 6rem; }

.drop-item.skirt-item:last-of-type {
  background: url("../images/skirts/x-mas-snowflake.png") no-repeat center/100%;
  width: 6rem; }

.drop-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 4rem;
  background: #a95307;
  z-index: 2;
  width: 12rem;
  height: 0;
  transition: height .5s;
  border-radius: .4rem; }
  @media (min-width: 900px) {
    .drop-menu-list {
      width: 13rem; } }
  @media (min-width: 1200px) {
    .drop-menu-list {
      width: 15rem; } }

.drop-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 0;
  opacity: 0;
  transition: height .4s, opacity .4s;
  border: none;
  border-radius: 5px;
  background: transparent;
  font: 1.8rem/2.4 Arial, 'serif';
  color: #ffffff;
  line-height: 0; }
  .drop-item.active-menu-item {
    height: 8rem;
    color: #FFFF00; }

.invitation {
  position: relative;
  background: #317c34;
  width: 80%;
  height: 80%;
  padding: 2rem 1.5rem;
  color: #fefefe;
  text-align: center;
  font: 2.4rem/2 Helvetica, "sans-serif";
  border: solid 0.1rem #783b05;
  border-radius: 18px; }
  @media (min-width: 768px) {
    .invitation {
      max-width: 75%;
      padding: 2.5rem 5rem; } }
  @media (min-width: 900px) {
    .invitation {
      max-width: 70%;
      padding: 3rem 6rem; } }
  @media (min-width: 1200px) {
    .invitation {
      max-width: 80rem;
      padding: 3.5rem 7rem; } }
  .invitation h1 {
    font: 3.5rem/1 'Helvetica', 'sans-serif';
    color: #fefefe;
    margin-bottom: 3rem; }
  .invitation button {
    height: 6rem;
    width: 24rem;
    background-color: #4CAF50;
    border: none;
    border-radius: 9px;
    font-size: 2rem;
    color: #fefefe;
    font-weight: 700;
    margin: 1rem auto;
    transition: color .5s; }
    .invitation button:hover {
      background-color: #fefefe;
      color: #2E7D32;
      cursor: pointer;
      transition: color .5s; }
    @media (min-width: 768px) {
      .invitation button {
        margin: 1.5rem auto; } }
    @media (min-width: 900px) {
      .invitation button {
        margin: 2rem auto; } }
  .invitation p {
    font: 1.8rem/2 'Helvetica', 'sans-serif';
    margin: 1rem auto; }
  .invitation .game-description {
    width: 100%;
    margin: 0 auto; }
  .invitation.hide-invitation {
    display: none; }

.main, .desk-background .main-container, .menu-item, .drop-menu-list {
  box-shadow: inset 0 0 1.5rem rgba(10, 10, 10, 0.7); }

.form-fieldset input {
  font: 2rem/2 Georgia, 'serif';
  color: #212121;
  height: 5rem; }

.menu-item:hover h2, .menu-item.dropped h2, .menu-item a:focus h2 {
  color: #FFFF00; }
.menu-item:hover .drop-menu-list, .menu-item.dropped .drop-menu-list, .menu-item a:focus .drop-menu-list {
  height: 36rem;
  transition: height .6s; }
  .menu-item:hover .drop-menu-list .drop-item, .menu-item.dropped .drop-menu-list .drop-item, .menu-item a:focus .drop-menu-list .drop-item {
    height: 8rem;
    opacity: 1;
    transition: height .6s, opacity .6s; }
  .menu-item:hover .drop-menu-list .drop-item.skirt-item, .menu-item.dropped .drop-menu-list .drop-item.skirt-item, .menu-item a:focus .drop-menu-list .drop-item.skirt-item {
    height: 9rem; }

.drop-item:hover, .drop-item:focus {
  color: #FFFF00;
  cursor: pointer; }

.drop-item.skirt-item.active-menu-item, .drop-item.skirt-item:hover, .drop-item.skirt-item:focus {
  height: 11rem;
  width: 6.2rem; }

.nine-to-four .card-container .card-flipper .card-face, .eight-to-three .card-container .card-flipper .card-face, .four-to-three .card-container .card-flipper .card-face, .three-to-two .card-container .card-flipper .card-face, .nine-to-four .card-container .card-flipper .card-skirt, .eight-to-three .card-container .card-flipper .card-skirt, .four-to-three .card-container .card-flipper .card-skirt, .three-to-two .card-container .card-flipper .card-skirt {
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

@keyframes hover {
  from {
    width: 95%;
    height: 95%; }
  to {
    width: 100%;
    height: 100%; } }
.reg-form-container {
  position: relative;
  background: radial-gradient(ellipse, #317c34, rgba(0, 0, 0, 0));
  color: #fefefe;
  font: 2.4rem/2 Helvetica, "sans-serif";
  opacity: 0;
  width: 90%;
  display: none; }
  .reg-form-container h2 {
    margin: 0 auto;
    font-size: 3rem;
    text-align: center; }
    @media (min-width: 768px) {
      .reg-form-container h2 {
        font-size: 3.5rem;
        line-height: 7rem; } }
  .reg-form-container .reg-form {
    width: 70%;
    margin: 4rem auto; }
  .reg-form-container.show-form {
    opacity: 1;
    transition: opacity .8s ease; }
  @media (min-width: 768px) {
    .reg-form-container {
      width: 60%; } }

.form-fieldset {
  position: relative;
  width: 100%;
  margin: 5rem auto 0;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: row; }
  .form-fieldset label {
    display: block;
    width: 30%;
    min-width: 15rem; }
  .form-fieldset input {
    background: #fefefe;
    padding: 0 1rem;
    width: 60%;
    min-width: 18rem;
    outline: none;
    border: none;
    border-radius: 10px; }
    .form-fieldset input.invalid-input {
      border: solid 2px #DD2C00; }
  .form-fieldset [type='submit'] {
    margin: 2rem auto;
    font: 2.3rem/2 Helvetica, 'sans-serif';
    font-weight: 600;
    border-radius: 10px;
    max-width: 30rem;
    color: #205823; }
    .form-fieldset [type='submit']:hover {
      color: #fefefe;
      cursor: pointer;
      background-color: #4CAF50; }
  .form-fieldset .email-error {
    position: absolute;
    top: 5rem;
    right: 50%;
    transform: translateX(70%);
    min-width: 30rem;
    visibility: hidden;
    color: #DD2C00;
    font-size: 1.8rem; }

.main, .desk-background .main-container, .menu-item, .drop-menu-list {
  box-shadow: inset 0 0 1.5rem rgba(10, 10, 10, 0.7); }

.form-fieldset input {
  font: 2rem/2 Georgia, 'serif';
  color: #212121;
  height: 5rem; }

.menu-item:hover h2, .menu-item.dropped h2, .menu-item a:focus h2 {
  color: #FFFF00; }
.menu-item:hover .drop-menu-list, .menu-item.dropped .drop-menu-list, .menu-item a:focus .drop-menu-list {
  height: 36rem;
  transition: height .6s; }
  .menu-item:hover .drop-menu-list .drop-item, .menu-item.dropped .drop-menu-list .drop-item, .menu-item a:focus .drop-menu-list .drop-item {
    height: 8rem;
    opacity: 1;
    transition: height .6s, opacity .6s; }
  .menu-item:hover .drop-menu-list .drop-item.skirt-item, .menu-item.dropped .drop-menu-list .drop-item.skirt-item, .menu-item a:focus .drop-menu-list .drop-item.skirt-item {
    height: 9rem; }

.drop-item:hover, .drop-item:focus {
  color: #FFFF00;
  cursor: pointer; }

.drop-item.skirt-item.active-menu-item, .drop-item.skirt-item:hover, .drop-item.skirt-item:focus {
  height: 11rem;
  width: 6.2rem; }

.nine-to-four .card-container .card-flipper .card-face, .eight-to-three .card-container .card-flipper .card-face, .four-to-three .card-container .card-flipper .card-face, .three-to-two .card-container .card-flipper .card-face, .nine-to-four .card-container .card-flipper .card-skirt, .eight-to-three .card-container .card-flipper .card-skirt, .four-to-three .card-container .card-flipper .card-skirt, .three-to-two .card-container .card-flipper .card-skirt {
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

@keyframes hover {
  from {
    width: 95%;
    height: 95%; }
  to {
    width: 100%;
    height: 100%; } }
.main, .desk-background .main-container, .menu-item, .drop-menu-list {
  box-shadow: inset 0 0 1.5rem rgba(10, 10, 10, 0.7); }

.form-fieldset input {
  font: 2rem/2 Georgia, 'serif';
  color: #212121;
  height: 5rem; }

.menu-item:hover h2, .menu-item.dropped h2, .menu-item a:focus h2 {
  color: #FFFF00; }
.menu-item:hover .drop-menu-list, .menu-item.dropped .drop-menu-list, .menu-item a:focus .drop-menu-list {
  height: 36rem;
  transition: height .6s; }
  .menu-item:hover .drop-menu-list .drop-item, .menu-item.dropped .drop-menu-list .drop-item, .menu-item a:focus .drop-menu-list .drop-item {
    height: 8rem;
    opacity: 1;
    transition: height .6s, opacity .6s; }
  .menu-item:hover .drop-menu-list .drop-item.skirt-item, .menu-item.dropped .drop-menu-list .drop-item.skirt-item, .menu-item a:focus .drop-menu-list .drop-item.skirt-item {
    height: 9rem; }

.drop-item:hover, .drop-item:focus {
  color: #FFFF00;
  cursor: pointer; }

.drop-item.skirt-item.active-menu-item, .drop-item.skirt-item:hover, .drop-item.skirt-item:focus {
  height: 11rem;
  width: 6.2rem; }

.nine-to-four .card-container .card-flipper .card-face, .eight-to-three .card-container .card-flipper .card-face, .four-to-three .card-container .card-flipper .card-face, .three-to-two .card-container .card-flipper .card-face, .nine-to-four .card-container .card-flipper .card-skirt, .eight-to-three .card-container .card-flipper .card-skirt, .four-to-three .card-container .card-flipper .card-skirt, .three-to-two .card-container .card-flipper .card-skirt {
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

@keyframes hover {
  from {
    width: 95%;
    height: 95%; }
  to {
    width: 100%;
    height: 100%; } }
.nine-to-four .card-container, .eight-to-three .card-container, .four-to-three .card-container, .three-to-two .card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 8rem;
  height: calc(8rem * 1.55);
  max-width: 20rem;
  max-height: 30rem;
  perspective: 100rem; }
  @media (min-width: 900px) {
    .nine-to-four .card-container, .eight-to-three .card-container, .four-to-three .card-container, .three-to-two .card-container {
      width: 10rem;
      height: calc(10rem * 1.47); } }
  .nine-to-four .card-container .card-flipper, .eight-to-three .card-container .card-flipper, .four-to-three .card-container .card-flipper, .three-to-two .card-container .card-flipper {
    position: relative;
    width: 95%;
    height: 95%;
    transition: transform 0.5s;
    transform-style: preserve-3d; }
    .nine-to-four .card-container .card-flipper .card-face, .eight-to-three .card-container .card-flipper .card-face, .four-to-three .card-container .card-flipper .card-face, .three-to-two .card-container .card-flipper .card-face {
      transform: rotateY(180deg); }
    .nine-to-four .card-container .card-flipper .card-skirt, .eight-to-three .card-container .card-flipper .card-skirt, .four-to-three .card-container .card-flipper .card-skirt, .three-to-two .card-container .card-flipper .card-skirt {
      z-index: 2;
      transform: rotateY(0deg); }
  .nine-to-four .opened.card-container .card-flipper, .eight-to-three .opened.card-container .card-flipper, .four-to-three .opened.card-container .card-flipper, .three-to-two .opened.card-container .card-flipper {
    transform: rotateY(180deg);
    transition: transform 0.5s; }
  .nine-to-four .out-desk.card-container, .eight-to-three .out-desk.card-container, .four-to-three .out-desk.card-container, .three-to-two .out-desk.card-container {
    opacity: 0;
    transition: opacity .6s; }
  .nine-to-four .card-container:focus, .eight-to-three .card-container:focus, .four-to-three .card-container:focus, .three-to-two .card-container:focus {
    outline: none; }
    .nine-to-four .card-container:focus .card-flipper, .eight-to-three .card-container:focus .card-flipper, .four-to-three .card-container:focus .card-flipper, .three-to-two .card-container:focus .card-flipper {
      width: 100%;
      height: 100%;
      animation: hover .3s; }
  .nine-to-four .card-container:hover .card-flipper, .eight-to-three .card-container:hover .card-flipper, .four-to-three .card-container:hover .card-flipper, .three-to-two .card-container:hover .card-flipper {
    width: 100%;
    height: 100%;
    animation: hover .3s; }

.game-section {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%; }

.game-desk {
  min-width: 35rem;
  width: 100%;
  max-width: 140rem; }

.nine-to-four {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  align-content: space-around;
  justify-items: center; }
  @media (min-width: 501px) {
    .nine-to-four {
      grid-template-columns: repeat(6, 1fr); } }
  @media (min-width: 760px) {
    .nine-to-four {
      grid-template-columns: repeat(9, 1fr); } }
  @media screen and (orientation: portrait) {
    .nine-to-four {
      grid-template-columns: repeat(6, 1fr); } }
  @media screen and (orientation: portrait) and (min-width: 1000px) {
    .nine-to-four .card-container {
      width: 14rem;
      height: calc(14rem * 1.47); } }
  @media screen and (orientation: portrait) and (max-width: 500px) {
    .nine-to-four {
      grid-template-columns: repeat(4, 1fr); } }

  @media (min-width: 1200px) {
    .nine-to-four {
      grid-template-columns: repeat(9, 1fr); }
      .nine-to-four .card-container {
        width: 12rem;
        height: calc(12rem * 1.47); } }

.eight-to-three {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  align-content: space-around;
  justify-items: center; }
  @media screen and (orientation: portrait) {
    .eight-to-three {
      grid-template-columns: repeat(4, 1fr); }
      .eight-to-three .card-container {
        width: 10rem;
        height: calc(10rem * 1.47); } }
  @media screen and (orientation: portrait) and (min-width: 760px) {
    .eight-to-three {
      grid-template-columns: repeat(6, 1fr); }
      .eight-to-three .card-container {
        width: 12rem;
        height: calc(12rem * 1.47); } }
  @media screen and (orientation: portrait) and (min-width: 1000px) {
    .eight-to-three .card-container {
      width: 14rem;
      height: calc(14rem * 1.47); } }

  @media (min-width: 900px) and (orientation: landscape) {
    .eight-to-three {
      grid-template-columns: repeat(6, 1fr); }
      .eight-to-three .card-container {
        width: 12rem;
        height: calc(12rem * 1.47); } }
  @media (min-width: 1200px) {
    .eight-to-three {
      grid-template-columns: repeat(8, 1fr); }
      .eight-to-three .card-container {
        width: 14rem;
        height: calc(14rem * 1.47); } }
  @media (min-width: 1600px) {
    .eight-to-three .card-container {
      width: 16rem;
      height: calc(16rem * 1.47); } }

.four-to-three {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  align-content: space-around;
  justify-items: center; }
  .four-to-three .card-container {
    width: 13rem;
    height: calc(13rem * 1.47); }
@media screen and (orientation: portrait) and (min-width: 7600px) {
  .four-to-three .card-container {
    width: 14rem;
    height: calc(14rem * 1.47); } }
@media screen and (orientation: portrait) and (min-width: 1000px) {
  .four-to-three .card-container {
    width: 18rem;
    height: calc(18rem * 1.47); } }

  @media screen and (orientation: landscape) {
    .four-to-three {
      grid-template-columns: repeat(4, 1fr); }
      .four-to-three .card-container {
        width: 13rem;
        height: calc(13rem * 1.47); } }
  @media screen and (orientation: landscape) and (min-width: 900px) {
    .four-to-three .card-container {
      width: 14rem;
      height: calc(14rem * 1.47); } }

  @media (min-width: 1200px) {
    .four-to-three .card-container {
      width: 15rem;
      height: calc(15rem * 1.47); } }
  @media (min-width: 1600px) {
    .four-to-three .card-container {
      width: 16rem;
      height: calc(16rem * 1.47); } }

.three-to-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  align-content: space-around;
  justify-items: center; }
  .three-to-two .card-container {
    width: 16rem;
    height: calc(16rem * 1.47); }
  @media (min-width: 500px) {
    .three-to-two {
      grid-template-columns: repeat(3, 1fr); }
      .three-to-two .card-container {
        width: 18rem;
        height: calc(18rem * 1.47); } }
  @media screen and (orientation: portrait) {
    .three-to-two {
      grid-template-columns: repeat(2, 1fr); } }
  @media (min-width: 1200px) {
    .three-to-two .card-container {
      width: 20rem;
      height: calc(20rem * 1.47); } }

.main, .desk-background .main-container, .menu-item, .drop-menu-list {
  box-shadow: inset 0 0 1.5rem rgba(10, 10, 10, 0.7); }

.form-fieldset input {
  font: 2rem/2 Georgia, 'serif';
  color: #212121;
  height: 5rem; }

.menu-item:hover h2, .menu-item.dropped h2, .menu-item a:focus h2 {
  color: #FFFF00; }
.menu-item:hover .drop-menu-list, .menu-item.dropped .drop-menu-list, .menu-item a:focus .drop-menu-list {
  height: 36rem;
  transition: height .6s; }
  .menu-item:hover .drop-menu-list .drop-item, .menu-item.dropped .drop-menu-list .drop-item, .menu-item a:focus .drop-menu-list .drop-item {
    height: 8rem;
    opacity: 1;
    transition: height .6s, opacity .6s; }
  .menu-item:hover .drop-menu-list .drop-item.skirt-item, .menu-item.dropped .drop-menu-list .drop-item.skirt-item, .menu-item a:focus .drop-menu-list .drop-item.skirt-item {
    height: 9rem; }

.drop-item:hover, .drop-item:focus {
  color: #FFFF00;
  cursor: pointer; }

.drop-item.skirt-item.active-menu-item, .drop-item.skirt-item:hover, .drop-item.skirt-item:focus {
  height: 11rem;
  width: 6.2rem; }

.nine-to-four .card-container .card-flipper .card-face, .eight-to-three .card-container .card-flipper .card-face, .four-to-three .card-container .card-flipper .card-face, .three-to-two .card-container .card-flipper .card-face, .nine-to-four .card-container .card-flipper .card-skirt, .eight-to-three .card-container .card-flipper .card-skirt, .four-to-three .card-container .card-flipper .card-skirt, .three-to-two .card-container .card-flipper .card-skirt {
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

@keyframes hover {
  from {
    width: 95%;
    height: 95%; }
  to {
    width: 100%;
    height: 100%; } }
.records-section {
  width: 100%;
  height: 100%;
  display: none;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .records-section span {
    color: #fefefe;
    font: 2rem/2 Arial, 'sans-serif'; }

.records-wrapper {
  width: 60%;
  height: 70%;
  display: grid;
  grid-template-columns: 30% repeat(4, 1fr);
  grid-auto-rows: 1fr;
  align-content: center;
  justify-items: center;
  grid-template-rows: 7rem 5rem; }
  .records-wrapper .player-name-head {
    grid-area: 1 / 1 / 3 / 2; }
    .records-wrapper .player-name-head span {
      font-size: 3rem; }
  .records-wrapper .player-records-head {
    grid-area: 1 / 2 / 2 / last-line; }
    .records-wrapper .player-records-head span {
      font-size: 3rem; }
  .records-wrapper .player-name {
    grid-column-start: 1;
    justify-self: start; }
  .records-wrapper .difficulty-level-head {
    font-size: 2.5rem;
    line-height: 5rem; }

.records-close-button {
  grid-column: 2 / 4;
  background: #fefefe;
  color: #388E3C;
  width: 25rem;
  height: 5rem;
  border-radius: 8px;
  border: none;
  font-size: 2.5rem;
  font-weight: 700;
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */
