@import '../common/variables', '../mixin/_placeholders', '../mixin/mixins';

.reg-form-container {
  position: relative;
  background: radial-gradient(ellipse, darken($bg-color-main, 5%), rgba(0,0,0,0));
  color: $text-color-main;
  font: $font-main;
  opacity: 0;
  width: 90%;
  display: none;
  h2 {
    margin: 0 auto;
    font-size: 3rem;
    text-align: center;
    @media (min-width: 768px) {
      font-size: 3.5rem;
      line-height: 7rem;
    }
  }
  .reg-form {
    width: 70%;
    margin: 4rem auto;
  }
  &.show-form {
    opacity: 1;
    transition: opacity .8s ease;
  }
  @media (min-width: 768px) {
    width: 60%;
  }
}

.form-fieldset {
  position: relative;
  width: 100%;
  margin: 5rem auto 0;
  @include flex(space-around, stretch);
  label {
    display: block;
    width: 30%;
    min-width: 15rem;
  }
  input {
    background: #fefefe;
    padding: 0 1rem;
    width: 60%;
    @extend %input;
    min-width: 18rem;
    outline: none;
    border: none;
    border-radius: 10px;
    &.invalid-input {
      border: solid 2px $error-color;
    }
  }
  [type='submit'] {
    margin: 2rem auto;
    font: 2.3rem/2 Helvetica, 'sans-serif';
    font-weight: 600;
    border-radius: 10px;
    max-width: 30rem;
    color: darken($bg-invite, 10%);
    &:hover {
      color: $text-color-main;
      cursor: pointer;
      background-color: $bg-inv-button;
    }
  }
  .email-error{
    position: absolute;
    top: 5rem;
    right: 50%;
    transform: translateX(70%);
    min-width: 30rem;
    visibility: hidden;
    color: $error-color;
    font-size: 1.8rem;
  }
}

