@import "../../../../scss/constants";
.card-wrapper {
  background: none;
  border: none;
}
.card-container {
  @extend %card-container;
  background: none;
  border: none;
}
@each $face in $cards {
  .card-face.#{$face} {
    background: url('#{$deepImgPath}/cards/#{$face}.jpg') no-repeat;
    background-size: 100%;
  }
}
@each $skirt in $skirts {
  .card-skirt.#{$skirt} {
    background: url('#{$deepImgPath}/skirts/x-mas-#{$skirt}.jpg') no-repeat;
    background-size: 100%;
  }
}
