$ice: #eaf9fe;
$game-menu-btn: #f0e4bc;
$game-menu-border: #6e220b;
$submit-btn: #43bb5d;
$menu-main: #ffd600;
$bg-color-main: #388E3C;
$bg-invite: #2E7D32;
$bg-body: #80DEEA;
$bg-inv-button: #4CAF50;
$border-main: darken(#F57F17, 20%);
$text-color-main: #fefefe;
$input-text-color: #212121;
$error-color: #DD2C00;
$font-main: 2.2rem/1 'SFUIText', 'sans-serif';
$font-menu-main: 2.4rem/1 'SFUIDisplay', 'sans-serif';
$font-invitation: 2rem/1.5 'SFUIText', 'sans-serif';
$max_width: 120rem;
$width-to-height-card-ratio: 1.454;
$firstMediaBreak: 480px;
$mobileScreen: 768px;
$smallScreen: 960px;
$mediumScreen: 1200px;
$imgPath: '../../images';
$cardsPath: '../../images/cards';
$deepImgPath: '../../../../images';
$cards: (
        'Artist',
        'Bowery',
        'Boxing',
        'Chinese',
        'BigSword',
        'Boulevard',
        'ChineseSword',
        'Neopolitan',
        'Cotillion',
        'Hoboken',
        'Irish',
        'Mexican',
        'Mike',
        'Roman',
        'Russian',
        'Skater',
        'Tenor',
        'London',
);
$skirts: (
        'lebkuchen',
        'nussknacker',
        'snowflake',
);
@mixin flex($justify: space-between, $align: center, $row: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $row;
}
@mixin width-and-height ($width) {
  width: $width;
  height: calc(#{$width} * #{$width-to-height-card-ratio});
}

@mixin grid($col) {
  display: grid;
  grid-template-columns: repeat($col, 1fr);
  grid-auto-rows: 1fr;
  align-content: space-around;
  justify-items:  center;
}

@mixin recordGrid($name: 25%) {
  display: grid;
  grid-template-columns: #{$name}  repeat(4, 1fr);
  grid-auto-rows: 1fr;
  align-content: center;
  justify-items:  center;
  @media (min-width: $firstMediaBreak) {
    // grid-template-columns: $name repeat(4, 1fr);
  }
}

%inset-shadow {
  box-shadow: inset 0 0 1.5rem rgba(10, 10, 10, .7);
}
%game-menu-shadow {
  box-shadow: inset 0 0 2.5rem rgba(10, 10, 10, .5);
}

%input {
  font: 2rem/2 SFUIText, 'serif';
  font-weight: 400;
  color: $input-text-color;
  height: 5rem;
}

%card {
  backface-visibility: hidden;
  border-radius: 10.8% / calc(10.8% / #{$width-to-height-card-ratio});
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
%card-container {
  margin: 1rem auto;
  @include width-and-height(8rem);
  max-width: 20rem;
  max-height: calc(20rem * #{$width-to-height-card-ratio});
  perspective: 100rem;
  padding: 0;
  .card-flipper {
   margin: auto;
    position: relative;
    width: 95%;
    height: 95%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    .card-face {
      @extend %card;
      transform: rotateY(180deg);
    }
    .card-skirt {
      @extend %card;
      z-index: 2;
      transform: rotateY(0deg);
    }
  }
  &.opened .card-flipper {
    transform: rotateY(180deg);
    transition: transform 0.5s;
  }
  &.hidden {
    opacity: 0;
    transition: opacity .6s;
  }
  &:focus {
    outline: none;
    .card-flipper {
      width: 100%;
      height: 100%;
      animation: hover .3s;
    }
  }

  &:hover .card-flipper {
    width: 100%;
    height: 100%;
    animation: hover .3s;
  }
}

@keyframes hover {
  from {
    width: 95%;
    height: 95%;
  }
  to {
    width: 100%;
    height: 100%;
  }
}
