@import "../../../../scss/constants";

.game-menu-item.drop-menu {
  .skirt-item {
    display: block;
    border: none;
    cursor: pointer;
    transition: transform .2s;
    outline: none;
    &:hover,
    &:focus,
    &.active {
      transform: scale(1.1);
    }
    &.active {
      cursor: default;
    }
  }
}
@each $skirt in $skirts {
  .skirt-item.#{$skirt} {
    background: url('#{$deepImgPath}/skirts/x-mas-#{$skirt}.jpg') no-repeat center;
    background-size: 100%;
    margin: 1rem;
    height: 10rem;
    width: 6rem;
    border-radius: 1.6rem;
  }
}